body {
    background-color: #f8f8f8;
}

i {
    color: white;
    font-family: "Lato";
    font-weight: bold;
    font-size: 19px;
}

.hover:hover {
    color: #18bc9c;
}

.logo {
    background-color: #2c3e50;
    padding: 17px;
    margin: -10px;
    border-radius: 11px
}

a {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    position: absolute;
    /*font-size: 15px;*/
    /*font-weight: normal;*/
    /*color: white;*/
}

.create {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: white;
    position: absolute; top: 20px; right: 10px;
}

.about {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: white;
    position: absolute; top: 20px; right: 170px;
}

.overview {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: white;
    position: absolute; top: 20px; right: 340px;
}

.store {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: white;
    position: absolute; top: 20px; right: 500px;
}

img {
  display: block;
  margin-top: 78px;
  margin-left: 450px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

#signin {
    font-family: "Lato", sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-top: 0%;
    margin-bottom: 0%;
}

.sign {
    background-color: #ecf0f1;
    padding: 10px 15px 10px 15px;
    margin-top: -200px;
    margin-left: 1025px;
    margin-right: 425px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.sign2 {
    background-color: #fff;
    padding: 25px 15px 200px 15px;
    margin: 0px 425px 0px 1025px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: #ecf0f1;
    border-width: 1px;
    border-style: solid;
}

p {
    font-family: "Lato", sans-serif;
    color: #c0c9d1;
}

.email {
    padding: 0px 15px 0px 15px;
    margin-top: -225px;
    margin-left: 1050px;
    margin-right: 450px;
    border-color: #dce4ec;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
}

.password {
    padding: 0px 15px 0px 15px;
    margin-top: 15px;
    margin-left: 1050px;
    margin-right: 450px;
    border-color: #dce4ec;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
}

#login {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: white;
    background-color: #2c3e50;
    padding: 20px 177px 20px 177px;
    border-color: #2c3e50;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    position: absolute; left: 1050px; 
}

#login:hover {
    background-color: #1a242f;
    border-color: #161f29;
}
